<script type="text/ng-template" id="loading.html">
    <div widget-item>
        <div widget-sub-text>
            Loading..
        </div>
    </div>
</script>

<script type="text/ng-template" id="bookings.html">
  <div widget-section-header>Your Appointments</div>		
  <div widget-item>		
    <div class="approvedAppointments" ng-show="approvedAppointments.length">		
      <p widget-section-header>Approved Appointments</p>		
      <div ng-repeat="appointment in approvedAppointments">		
        <p>Appointment with {{appointment.staffName}} on {{appointment.date_day}} at {{appointment.date_time | timeFilter}}</p>		
     </div>		
    </div>		
    <div class="pendingAppointments" ng-show="pendingAppointments.length">		
      <p widget-section-header>Pending Appointments</p>		
      <div ng-repeat="appointment in pendingAppointments">		
        <p>Appointment with {{appointment.staffName}} on {{appointment.date_day}} at {{appointment.date_time | timeFilter}}</p>		
      </div>		
    </div>		
    <div class="rejectedAppointments" ng-show="rejectedAppointments.length">		
      <p widget-section-header>Cancelled Appointments</p>		
     <div ng-repeat="appointment in rejectedAppointments">		
        <p>Appointment with {{appointment.staffName}} on {{appointment.date_day}} at {{appointment.date_time | timeFilter}}</p>		
      </div>		
    </div>		
    <div class="noAppointments" ng-hide="approvedAppointments.length || pendingAppointments.length || rejectedAppointments.length">		
      <p>You don't have any appointments! You can book one below.</p>		
    </div>		
    <div widget-section-header>Book An Appointment</div>		
    <div widget-item icon-right="icon-angle-right" ng-click="showResources()" button>		

        <div widget-text>Choose a Staff Member</div>		
        <div widget-sub-text>   </div>		
    </div>		
    <div widget-section-header>Administration Console</div>		
    <div widget-item icon-right="icon-angle-right" ng-click="showAdmin()" button>		
        <div widget-text>Administration Console</div>		
        <div widget-sub-text>   </div>		
    </div>		
  </div>		
</script>

<script type="text/ng-template" id="resources.html">
  <div widget-section-header>Choose a Staff Member</div>
  <select class="form-control" ng-model="appointment.resourceId" ng-change="getStaffForResource()">
    <option value="0">Health Services</option>
    <option value="1">Counselling Services</option>
    <option value="2">Professors and TAs</option>
  </select>
  <select class="form-control" ng-model="appointment.staffName" ng-hide="appointment.resourceId === undefined">
    <option value = "John Doe">John Doe</option>
    <option value="Jane Doe">Jane Doe</option>
    <option value="Stephen Harper">Stephen Harper</option>
  </select>
  <div widget-section-header>Timeslots</div>
	<select class="form-control" ng-model="appointment.month">
      <option value="0">January</option>
      <option value="1">February</option>
      <option value="2">March</option>
      <option value="3">April</option>
      <option value="4">May</option>
      <option value="5">June</option>
      <option value="6">July</option>
      <option value="7">August</option>
      <option value="8">September</option>
      <option value="9">October</option>
      <option value="10">November</option>
      <option value="11">December</option>
    </select>
  	<select class="form-control" ng-model="appointment.day" ng-hide="appointment.month === undefined">
      <option value="{{$index+1}}" ng-repeat="i in getNumber(31) track by $index">{{$index+1}}</option>
    </select>
    <select class="form-control" ng-model="appointment.time" ng-hide="appointment.day === undefined">
      <option value="{{$index+1}}:00" ng-repeat="i in getNumber(24) track by $index">{{$index+1}}:00</option>
    </select>
  <input type="text" ng-model="appointment.comments" value="Nothing"/>
    <div widget-item icon-right="icon-angle-right" ng-click="makeAppointment(appointment)" button>
        <div widget-text>Book appointment</div>
        <div widget-sub-text>Holder Text</div>
  </div>
</script>

<!-- View for the timeslot screen -->
<script type="text/ng-template" id="timeslots.html">
</script>

<!-- VIEWS FOR THE "DETAILS VIEWS EXAMPLE" -->

<script type="text/ng-template" id="admin.html">
    <div widget-section-header>Admin Console</div>
  <div widget-item widget-text>Select faculty service: </div>
	<select class="form-control" ng-model="resourceId" ng-change="getStaffForResource()">
      <option value="0">Health Services</option>
      <option value="1">Counselling Services</option>
      <option value="2">Professors and TAs</option>
    </select>
        <select class="form-control" ng-model="staffName" ng-hide="resourceId === undefined">
      <option value = "John Doe">John Doe</option>
      <option value="Jane Doe">Jane Doe</option>
      <option value="Stephen Harper">Stephen Harper</option>
    </select>
    <div widget-item icon-right="icon-angle-right" ng-click="showView3()" button ng-hide="staffName === undefined">
        <div widget-text>View the Appointments for {{staffName}}</div>
        <div widget-sub-text>Click Here to view Time Slots</div>
    </div>
</script>

<script type="text/ng-template" id="view3.html">
    <div widget-section-header ng-init="getAdminAppointments()">Schedule</div>
    <div widget-item>
     <div ng-repeat="appointment in pendingAdminAppointments">		
        <p>Appointment with {{appointment.studentName}} on {{appointment.dateTime}}</p>		
      </div>
	 <div ng-repeat="appointment in approvedAdminAppointments">		
        <p>Appointment with {{appointment.studentName}} on {{appointment.dateTime}}</p>		
      </div>
    </div>
</script>
